@font-face {
  font-family: "Aspekta Variable";
  src: url("https://cdn.jsdelivr.net/gh/ivodolenc/aspekta@main/packages/fonts/variable/AspektaVF.woff2")
    format("woff2");
  font-weight: 50 1000;
  font-style: normal;
  font-display: swap;
}
