<header class="header">
  <div class="header__bar">
    <div class="header__inner">
      <ul class="header__nav header__nav--left" aria-label="Primary">
        <li class="header__item"><a class="header__link" href="#" data-menu-trigger="home">Home</a></li>
        <li class="header__item"><a class="header__link" href="#" data-menu-trigger="about">About</a></li>
        <li class="header__item"><a class="header__link" href="#" data-menu-trigger="capabilities">Capabilities</a></li>
        <li class="header__item"><a class="header__link" href="#" data-menu-trigger="markets">Markets</a></li>
        <li class="header__item"><a class="header__link" href="projects.html">Projects</a></li>
      </ul>

      <a class="header__logo" href="#" aria-label="AmeriTech Contracting">
        <img
          class="header__logo-img header__logo-img--light"
          src="assets/images/logo-white.svg"
          alt="AmeriTech Contracting"
          width="183"
          height="63"
        />
        <img
          class="header__logo-img header__logo-img--dark"
          src="assets/images/logo-black.svg"
          alt=""
          width="183"
          height="63"
          aria-hidden="true"
        />
      </a>

      <ul class="header__nav header__nav--right" aria-label="Secondary">
        <li class="header__item"><a class="header__link" href="/podcast">Podcast</a></li>
        <li class="header__item"><a class="header__link" href="/blog">Blog</a></li>
        <li class="header__item"><a class="header__link" href="#" data-menu-trigger="careers">Careers</a></li>
        <li class="header__item"><a class="header__link" href="/contact">Contact</a></li>
      </ul>

      <button
        class="header__burger"
        type="button"
        aria-label="Open menu"
        aria-expanded="false"
        aria-controls="header-mobile-menu"
      >
        <span class="header__burger-line"></span>
        <span class="header__burger-line"></span>
      </button>
    </div>
  </div>

  <div id="header-mobile-menu"></div>
</header>
