<aside class="menu-overlay" id="site-menu" aria-hidden="true">
  <div class="menu-overlay__desktop" aria-hidden="true">
    <div class="menu-overlay__backdrop" data-menu-close tabindex="-1"></div>

    <div
      class="menu-overlay__panel"
      role="dialog"
      aria-modal="true"
      aria-label="Navigation menu"
    >
      <div class="menu-overlay__top">
        <a class="menu-overlay__logo" href="#" aria-label="AmeriTech Contracting">
          <img
            src="assets/images/logo-black.svg"
            alt=""
            width="183"
            height="63"
          />
        </a>

        <button class="menu-overlay__close" type="button" aria-label="Close menu" data-menu-close>
          <span class="menu-overlay__close-line" aria-hidden="true"></span>
          <span class="menu-overlay__close-line" aria-hidden="true"></span>
        </button>

        <nav class="menu-overlay__nav menu-overlay__nav--left" aria-label="Primary">
          <a class="menu-overlay__nav-link" href="#" data-menu-trigger="home">Home</a>
          <a class="menu-overlay__nav-link" href="#" data-menu-trigger="about">About</a>
          <a class="menu-overlay__nav-link" href="#" data-menu-trigger="capabilities">Capabilities</a>
          <a class="menu-overlay__nav-link" href="#" data-menu-trigger="markets">Markets</a>
          <a class="menu-overlay__nav-link" href="projects.html">Projects</a>
        </nav>

        <nav class="menu-overlay__nav menu-overlay__nav--right" aria-label="Secondary">
          <a class="menu-overlay__nav-link" href="/podcast">Podcast</a>
          <a class="menu-overlay__nav-link" href="/blog">Blog</a>
          <a class="menu-overlay__nav-link" href="#" data-menu-trigger="careers">Careers</a>
          <a class="menu-overlay__nav-link" href="/contact">Contact</a>
        </nav>
      </div>

      <div class="menu-overlay__body">
        <div class="menu-overlay__links-column" data-menu-links-viewport="380">
          <div class="menu-overlay__links" data-menu-links></div>
        </div>

        <div class="menu-overlay__visual">
          <img
            class="menu-overlay__visual-img"
            data-menu-visual-img
            src="assets/images/menu-capabilities-image.jpg"
            alt=""
            width="738"
            height="380"
          />
          <video
            class="menu-overlay__visual-video"
            data-menu-visual-video
            src=""
            muted
            loop
            playsinline
            autoplay
            hidden
          ></video>
        </div>
      </div>

      <footer class="menu-overlay__footer">
        <p class="menu-overlay__tagline">Your trusted partner in federal government contracting.</p>
        <a class="menu-overlay__phone" href="tel:8602158972">860-215-8972</a>
        <a class="menu-overlay__social social-link" href="#" aria-label="LinkedIn">
          <img class="social-link__icon--default" src="assets/icons/linkedin.svg" alt="" width="36" height="36" />
          <img class="social-link__icon--hover" src="assets/icons/linkedin-hover.svg" alt="" width="36" height="36" />
        </a>
      </footer>
    </div>
  </div>
</aside>
