<div class="mobile-menu header__drawer" data-menu-mobile id="header-mobile-menu" aria-hidden="true">
  <div class="mobile-menu__panel">
<nav class="mobile-menu__nav" aria-label="Site navigation">
        <div class="mobile-menu__item">
          <div class="mobile-menu__group">
            <button type="button" class="mobile-menu__row mobile-menu__row--trigger" aria-expanded="false" data-menu-expand>
            <span class="mobile-menu__label">Home</span>
            <span class="mobile-menu__icon mobile-menu__icon--chevron" aria-hidden="true">
              <img
                class="mobile-menu__chevron mobile-menu__chevron--down"
                src="assets/icons/menu-chevron-down.svg"
                alt=""
                width="24"
                height="24"
              />
              <img
                class="mobile-menu__chevron mobile-menu__chevron--up"
                src="assets/icons/menu-chevron-up.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
            </button>
            <div class="mobile-menu__subnav-wrap"><div class="mobile-menu__subnav">
            <a class="mobile-menu__sublink" href="/#our-company">
              <span class="mobile-menu__sublink-text">Our Company</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/#core-competencies">
              <span class="mobile-menu__sublink-text">Core Competencies</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/#our-work">
              <span class="mobile-menu__sublink-text">Our Work</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            </div></div></div></div>

        <div class="mobile-menu__item">
          <div class="mobile-menu__group">
            <button type="button" class="mobile-menu__row mobile-menu__row--trigger" aria-expanded="false" data-menu-expand>
            <span class="mobile-menu__label">About</span>
            <span class="mobile-menu__icon mobile-menu__icon--chevron" aria-hidden="true">
              <img
                class="mobile-menu__chevron mobile-menu__chevron--down"
                src="assets/icons/menu-chevron-down.svg"
                alt=""
                width="24"
                height="24"
              />
              <img
                class="mobile-menu__chevron mobile-menu__chevron--up"
                src="assets/icons/menu-chevron-up.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
            </button>
            <div class="mobile-menu__subnav-wrap"><div class="mobile-menu__subnav">
            <a class="mobile-menu__sublink" href="/about/our-roots">
              <span class="mobile-menu__sublink-text">Our Roots</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/about/leadership-team">
              <span class="mobile-menu__sublink-text">Leadership Team</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/about/management-team">
              <span class="mobile-menu__sublink-text">Management Team</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/about/photo-timeline">
              <span class="mobile-menu__sublink-text">Photo Timeline</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/about/awards">
              <span class="mobile-menu__sublink-text">Awards</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            </div></div></div></div>

        <div class="mobile-menu__item">
          <div class="mobile-menu__group">
            <button type="button" class="mobile-menu__row mobile-menu__row--trigger" aria-expanded="false" data-menu-expand>
            <span class="mobile-menu__label">Capabilities</span>
            <span class="mobile-menu__icon mobile-menu__icon--chevron" aria-hidden="true">
              <img
                class="mobile-menu__chevron mobile-menu__chevron--down"
                src="assets/icons/menu-chevron-down.svg"
                alt=""
                width="24"
                height="24"
              />
              <img
                class="mobile-menu__chevron mobile-menu__chevron--up"
                src="assets/icons/menu-chevron-up.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
            </button>
            <div class="mobile-menu__subnav-wrap"><div class="mobile-menu__subnav">
            <a class="mobile-menu__sublink" href="/capabilities/pre-construction-planning">
              <span class="mobile-menu__sublink-text">Pre-construction &amp; Planning</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/capabilities/construction-management">
              <span class="mobile-menu__sublink-text">Construction Management</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/capabilities/federal-compliance">
              <span class="mobile-menu__sublink-text">Federal Compliance</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/capabilities/safety-risk-environmental">
              <span class="mobile-menu__sublink-text">Safety, Risk, and Environmental Management</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/capabilities/construction-technology">
              <span class="mobile-menu__sublink-text">Construction Technology</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            </div></div></div></div>

        <div class="mobile-menu__item">
          <div class="mobile-menu__group">
            <button type="button" class="mobile-menu__row mobile-menu__row--trigger" aria-expanded="false" data-menu-expand>
            <span class="mobile-menu__label">Markets</span>
            <span class="mobile-menu__icon mobile-menu__icon--chevron" aria-hidden="true">
              <img
                class="mobile-menu__chevron mobile-menu__chevron--down"
                src="assets/icons/menu-chevron-down.svg"
                alt=""
                width="24"
                height="24"
              />
              <img
                class="mobile-menu__chevron mobile-menu__chevron--up"
                src="assets/icons/menu-chevron-up.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
            </button>
            <div class="mobile-menu__subnav-wrap"><div class="mobile-menu__subnav">
            <a class="mobile-menu__sublink" href="/markets/federal-government">
              <span class="mobile-menu__sublink-text">Federal Government</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/markets/healthcare">
              <span class="mobile-menu__sublink-text">Healthcare</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            </div></div></div></div>

        <div class="mobile-menu__item">
          <a class="mobile-menu__row mobile-menu__row--link" href="/projects">
            <span class="mobile-menu__label">Projects</span>
            <span class="mobile-menu__icon" aria-hidden="true">
              <img
                class="mobile-menu__nav-arrow"
                src="assets/icons/menu-nav-arrow.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
          </a>
        </div>

        <div class="mobile-menu__item">
          <a class="mobile-menu__row mobile-menu__row--link" href="/podcast">
            <span class="mobile-menu__label">Podcast</span>
            <span class="mobile-menu__icon" aria-hidden="true">
              <img
                class="mobile-menu__nav-arrow"
                src="assets/icons/menu-nav-arrow.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
          </a>
        </div>

        <div class="mobile-menu__item">
          <a class="mobile-menu__row mobile-menu__row--link" href="/blog">
            <span class="mobile-menu__label">Blog</span>
            <span class="mobile-menu__icon" aria-hidden="true">
              <img
                class="mobile-menu__nav-arrow"
                src="assets/icons/menu-nav-arrow.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
          </a>
        </div>

        <div class="mobile-menu__item">
          <div class="mobile-menu__group">
            <button type="button" class="mobile-menu__row mobile-menu__row--trigger" aria-expanded="false" data-menu-expand>
            <span class="mobile-menu__label">Careers</span>
            <span class="mobile-menu__icon mobile-menu__icon--chevron" aria-hidden="true">
              <img
                class="mobile-menu__chevron mobile-menu__chevron--down"
                src="assets/icons/menu-chevron-down.svg"
                alt=""
                width="24"
                height="24"
              />
              <img
                class="mobile-menu__chevron mobile-menu__chevron--up"
                src="assets/icons/menu-chevron-up.svg"
                alt=""
                width="24"
                height="24"
              />
            </span>
            </button>
            <div class="mobile-menu__subnav-wrap"><div class="mobile-menu__subnav">
            <a class="mobile-menu__sublink" href="/careers/apply">
              <span class="mobile-menu__sublink-text">Apply</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/careers/subcontractors">
              <span class="mobile-menu__sublink-text">Subcontractors</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/careers/internship">
              <span class="mobile-menu__sublink-text">Internship</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            <a class="mobile-menu__sublink" href="/careers/skillbridge">
              <span class="mobile-menu__sublink-text">Skillbridge</span>
              <img
                class="mobile-menu__sublink-icon"
                src="assets/icons/menu-sublink-arrow.svg"
                alt=""
                width="16"
                height="16"
              />
            </a>
            </div></div></div></div>
      </nav>

      <footer class="mobile-menu__footer">
        <div class="mobile-menu__contacts">
          <a class="btn btn--colored btn--mobile mobile-menu__contact" href="/contact">
            <span class="btn__label">Contact</span>
            <span class="btn__arrow" aria-hidden="true">
              <span class="btn__arrow-viewport">
                <span class="btn__arrow-track">
                  <img
                    class="btn__arrow-icon"
                    src="assets/icons/arrow-white.svg"
                    alt=""
                    width="17"
                    height="17"
                  />
                </span>
              </span>
            </span>
          </a>
          <a class="mobile-menu__phone" href="tel:8602158972">860-215-8972</a>
          <a class="mobile-menu__social social-link" href="#" aria-label="LinkedIn">
            <img class="social-link__icon--default" src="assets/icons/linkedin.svg" alt="" width="36" height="36" />
            <img class="social-link__icon--hover" src="assets/icons/linkedin-hover.svg" alt="" width="36" height="36" />
          </a>
        </div>
      </footer>
  </div>
</div>
